<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover {
          background-color: #111;
        }
        </style>
</head>
<body>
  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/lendBook">Lend Book</a></li>
    <li><a href="/addBook">Add book</a></li>
    <li><a href="/returnBook">Return Book</a></li>
  </ul>
    <br> 
    <h1>Lend book</h1>
    <form action="/check2" method="POST">
        <label for="uname" class="sr-only">Book name</label>
        <input type="text"  name="bookname" class="form-control"  required autofocus>
        <br>
        <label for="uname" class="sr-only">Your name</label>
        <input type="text"  name="youname" class="form-control"  required autofocus>
        <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit" >Submin</button>
    </form>
<br>
<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for message in messages %}
    {{message}}
    {% endfor %}

    {% endif %}
    {% endwith %}
</div>

</body>
</html>